
body{
    display: flex;
    justify-content: center;
    align-items: center;
        
}
.container{
    border: 1px solid red;
    width: 50vw;
    height: 50vh;
    margin: 50vh;
    position: relative;

}
.circle{
    width: 100px;
    height: 100px;
    border: solid 1px;
    border-radius: 100px;
    position: absolute;
    top:10%;
    left: 10%;
}

.squarer{
    width: 100px;
    height: 100px;
    border: solid 1px;
    position: absolute; 
    right: 20px;
    bottom: 20px;
}